body
{
  background-color: black;
}

main
{
  margin: 100px 0 0 0;
}

h5
{
  color:white;
  font-style: italic;
}

p
{
  color:white;
  font-size: 20px;
  font-style: italic;
}

.fa-twitter {
  color: white;
}

.fa-instagram {
  color: #125688;
}

.fa-snapchat-ghost {
  color: #fffc00;
}

a:hover
{
  color:red;
}
